//MEDIA QUERY
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

//DEVICE-PIXEL-RATIO MEDIA QUERY
//2x
$retina-dpi: 144dpi; 
$retina-dppx: 1.5dppx; 
//3x
$retina-dpi: 288dpi; 
$retina-dppx: 3.0dppx;

//COLOR
$button-link-color:#78D260;
$text-link-color:#7BD35E;


